@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none; }

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, input, textarea, th, td {
  margin: 0;
  padding: 0; }

/** 设置默认字体 **/
body, input, select, textarea {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; }

/*h1, h2, h3, h4, h5, h6 { font-size: 100%; }*/
address, cite, dfn, em, var {
  font-style: normal; }

/* 将斜体扶正 */
code, kbd, pre, samp {
  font-family: courier new, courier, monospace; }

/* 统一等宽字体 */
small {
  font-size: 12px; }

a {
  text-decoration: none;
  color: #333; }
  a:hover {
    text-decoration: none; }

legend {
  color: #000; }

/* for ie6 */
fieldset, img {
  border: 0; }

/* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea {
  font-size: 100%; }

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 清除浮动 */
.ks-clear:after, .clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both; }

.ks-clear, .clear {
  *zoom: 1; }

a,
a:active,
a:hover {
  outline: 0;
  text-decoration: none; }

html,
body {
  height: 100%; }

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif; }

/*basic css*/
#container {
  padding-bottom: 20px;
  height: 40%; }

.header {
  position: fixed;
  z-index: 1060;
  top: 0;
  right: 0;
  left: 0;
  height: 45px;
  border-bottom: 1px solid #43A382;
  background-color: #45A673;
  -webkit-box-shadow: 0 1px 1px rgba(98, 98, 98, 0.3);
  box-shadow: 0 1px 1px rgba(98, 98, 98, 0.3); }
  .header h1 {
    color: #fff;
    font-size: 18px;
    line-height: 44px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    text-align: center;
    font-family: "YouYuan"; }
  .header .navbar-left {
    float: left;
    /*color: #fff;*/ }
    .header .navbar-left .back {
      color: #FFF;
      font-size: 2.5em; }
  .header .navbar-right {
    float: right;
    color: #fff; }
    .header .navbar-right .lost {
      margin: 4px;
      background-color: #45A673;
      border-color: #45A673;
      outline: none;
      font-size: 16px; }
  .header .navbar-left > *, .header navbar-right > * {
    display: table-cell;
    height: 45px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle; }

.now {
  padding-top: 45px; }
  .now .demo-main-cont {
    height: 100%; }
  .now .demo-credit {
    font-size: 18px;
    width: 80%;
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: #333; }
  .now .fa-calendar {
    padding-top: 4px;
    color: #949594;
    display: table-cell;
    height: 45px;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 2em; }

span {
  line-height: 35px;
  padding-left: 5px;
  font-size: 13px; }

img {
  width: 100%;
  display: inline-block;
  float: left; }

.content {
  z-index: 1000;
  left: 0;
  background-color: #FFF;
  padding-bottom: 40px;
  margin-top: 10px;
  border-top: 1px solid #ddd; }
  .content .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 3.125%;
    border-bottom: 1px solid #ddd;
    color: #333;
    text-decoration: none; }
    .content .item .icon-span {
      padding-left: 7px;
      font-size: 13px;
      width: 40px;
      height: 40px; }
      .content .item .icon-span .icon {
        font-size: 25px;
        -webkit-transition: font-size 0.25s ease-out 0s;
        -moz-transition: font-size 0.25s ease-out 0s;
        transition: font-size 0.25s ease-out 0s; }
      .content .item .icon-span .icon-restaurant {
        color: #F9664C; }
      .content .item .icon-span .icon-supermarke {
        color: #FFB543; }
      .content .item .icon-span .icon-tongzhuangshui {
        color: #66CCFF; }
      .content .item .icon-span .icon-weixiu {
        color: #54CC7F; }
      .content .item .icon-span .icon-shuifei {
        color: #44AEE2; }
      .content .item .icon-span .icon-dianfei {
        color: #F7A945; }
      .content .item .icon-span .icon-tushu {
        color: #4FC185; }
      .content .item .icon-span .icon-yiyuan {
        color: #F3A42B; }
      .content .item .icon-span .icon-kaoshi {
        color: #8C5AC1; }
      .content .item .icon-span .icon-baoxian {
        color: #F32B2B; }
      .content .item .icon-span .icon-qita {
        color: #FF59E9; }
    .content .item h3 {
      display: block;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      width: 100%;
      max-height: 40px;
      min-height: 35px;
      overflow: hidden;
      line-height: 20px;
      margin: 0 10px;
      font-size: 2rem; }
      .content .item h3 .detail {
        font-size: 1.2rem;
        color: #908B8B; }
    .content .item .date {
      display: block;
      height: 20px;
      line-height: 20px;
      color: #999;
      font-size: 14px; }

.opacity {
  -webkit-animation: opacity 0.3s linear;
  animation: opacity 0.3s linear; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
