* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.42857143;
  color: #333;
  background-color: rgba(216, 216, 216, 0.5); }

a {
  text-decoration: none; }

.btn-default {
  font-size: 50%; }

.border {
  position: relative;
  left: 50%;
  top: 0;
  width: 40px;
  border-top: 4px solid;
  margin-left: -20px;
  margin-top: 10px; }

.header {
  position: fixed;
  z-index: 1060;
  top: 0;
  right: 0;
  left: 0;
  height: 45px;
  border-bottom: 1px solid #43A382;
  background-color: #45A673;
  -webkit-box-shadow: 0 1px 1px rgba(98, 98, 98, 0.3);
  box-shadow: 0 1px 1px rgba(98, 98, 98, 0.3); }
  .header h1 {
    color: #fff;
    font-size: 18px;
    line-height: 44px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    text-align: center;
    font-family: "YouYuan"; }
  .header .navbar-left {
    float: left;
    color: #FFF; }
    .header .navbar-left .back {
      color: #FFF;
      font-size: 2.5em; }
  .header .navbar-left > *, .header .header .navbar-right > * {
    display: table-cell;
    height: 45px;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle; }

.funct {
  padding-top: 45px; }

.col-xs-6, .col-xs-12 {
  padding: 0; }

.pd-item-name {
  line-height: 4;
  text-align: center; }
  .pd-item-name .iconfont {
    font-size: 2em; }
