<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=1.0">
	<title>申请导向</title>
	<link rel="stylesheet" type="text/css" href="../../stylesheets/reset.css">
	<link rel="stylesheet" href="../../stylesheets/apply.css">
	<style type="text/css"> 
	p{
		font-size: 1rem;
		text-align:center; 
		padding-top: 34px;
	}
	</style>
</head>
<body>
	<div class="all">
		<div class="first">
			<a href="exchange.html"><p calss="item">换宿</p></a>
		</div>
		<div class="second">
			<a href="graduate.html"><p calss="item">毕业</p></a>
		</div>
		<div class="third">
			<a href="checkout.html"><p calss="item">退宿</p></a>
		</div>
		<div class="fourth">
			<a href="vacation.html"><p calss="item">留校</p></a>
		</div>
		<div class="bgcircle">
			
		</div>
		<div class="circle">
			<a href="status.html"><p calss="item">申请详情</p></a>
		</div>
	</div>
	
	<script src="../../static/js/jquery.min.js"></script>
	<script>
		// $(function(){
		// 	$('.all').height($('.all').width());

		// });
	</script>
</body>
</html>