<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>xxx申请</title>
	<link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../stylesheets/status_error.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-fixed-top">
			<a href="dorm_apply.html"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
			<h1>xxx申请</h1>
		</nav>
	</header>
	<div class="content">
		<div class="content_box">
			<div class="check-box">
				<div class="cont_ok"></div>
			</div>
			<div>申请失败</div>
			<div>失败原因 : <span>想知道为什么失败吗？不告诉你就不告诉你。啦啦啦啦啦啦啦啦啦啦啦啦</span></div>
			<div>联系老师:<a href="tel:1782378791">1782378791</a></div><!-- 据说微信被屏蔽了，在网址的后面加锚节点mp.weixin.qq.com可以解决 -->
		</div>
	</div>
	<footer>
		<div class="ft_lf fl">
			申请详情
		</div>
		<div class="ft_rg fr">
			重新申请
		</div>
	</footer>
</body>
</html>