*{
    margin:0;
    padding:0;
}

html {
    height: 100%;
}

body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.42857143;
    color: #333;
}

a {
    text-decoration:none;
}

.header {
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    left: 0;
    height: 45px;
    border-bottom: 1px solid #43A382;
    background-color: #45A673;
    -webkit-box-shadow: 0 1px 1px rgba(98,98,98,.3);
    box-shadow: 0 1px 1px rgba(98,98,98,.3);
    h1{
        color: #fff;
        font-size: 18px;
        line-height: 44px;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%,0);
        text-align: center;
        font-family:"YouYuan";
    }
    .navbar-left{
        float: left;
        color: #fff;
        .back{
            color:white;
            font-size: 2em;
        }
    }
    .navbar-right{
        float: right;
        color: #fff;
    }
    .navbar-left>*, .header .navbar-right>* {
        display: table-cell;
        height: 45px;
        padding-right: 10px;
        padding-left: 10px;
        vertical-align: middle;
    }
}

.container {
    line-height: 1.5;
    position: relative;
    height:100%;
    // background: #333;
    // box-shadow: 0px 0px 100px #000 inset;
    .swiper-container {
        width: 100%;
        height: 80%;
        position: relative;
        z-index: 10;
        .event-list>.swiper-slide {
            background: #fff;
            border-bottom: 1px solid #eee;
        }
        .event-list{
            .preloader {
                /*position: absolute;*/
                /*left: 0;*/
                /*top: -45px;*/
                /*z-index: 0;*/
                color: #333;
                text-align: center;
                line-height: 45px;
                height: 45px;
                width: 100%;
                /*opacity: 0;*/
                font-size: 14px;
                /*-webkit-transition: 300ms;
                -moz-transition: 300ms;
                -ms-transition: 300ms;
                -o-transition: 300ms;
                transition: 300ms;*/
                background:transparent;
            }
            .swiper-slide{
                .event-content{
                    padding: 15px 10px;
                }
                .event-content>.event-img {
                    float: left!important;
                    margin-top:3px;
                    margin-right: 10px;
                    width: 110px;
                    height: 65px;
                }
                .event-content{
                    .event-body {
                        line-height: 1;
                        color: #7d7d7d;
                    }
                    .event-body>.event-title {
                        height: 36px;
                        margin-bottom: 3px;
                        color: #333;
                        display: -webkit-box;
                        overflow: hidden;
                    }
                    .event-body>.event-location {
                        margin-bottom: 2px;
                        font-size:13px;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                    .event-body>.event-state {
                        font-size:13px;
                        .text-muted {
                            color: #62b651;
                        }
                        .text-warning {
                            color: #ffa620;
                        }
                    }
                    .event-body>.event-state>span {
                        float: right;
                    }
                }
            }
        }
    }
}

/*.preloader.visible {
    height: 50px;
}*/




