//sass --style compressed test.sass texe.css
*{
    margin: 0;
    padding:0;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-text-size-adjust:none;
    }
    html {
        font-size:10px;
    }
    body {
        background-color: #f5f5f5;
        font-size: 1.2em;
    }
    .header {
      position: fixed;
      z-index: 1060;
      top: 0;
      right: 0;
      left: 0;
      height: 45px;
      border-bottom: 1px solid #43A382;
      background-color: #45A673;
  
      h1 {
         color: #fff;
         font-size: 18px;
         line-height: 44px;
         position: absolute;
         left: 50%;
         -webkit-transform: translate(-50%,0);
         text-align: center;
         font-family:"YouYuan";
      }
    }
    .pull-left {float: left!important;}
    .navbar-left {float: left;}
    .navbar-left>* {
      display: table-cell;
      height: 45px;
      padding-right: 10px;
      padding-left: 10px;
      vertical-align: middle;
    }
    .back {
    color:white;
    font-size: 2.5em;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
   
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      -webkit-align-items: center;
      align-items: center;
    }
    img{width:100%;display:inline-block;float:left;}

    .content {
      padding-bottom: 40px;
      padding-top: 45px;
      background-color: #fff;
      .item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align:center;
        -webkit-box-align:center;
        box-align:center;
        -webkit-align-items:center;
        align-items:center;
        padding:3.125%;
        border-bottom: 1px solid #ddd;
        color: #333;
        text-decoration: none;

        img {
          display: block;
          width: 40px;
          height: 40px;
          border:1px solid #ddd;
        }
        h3 {
          display: block;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          width: 100%;
          max-height: 40px;
          // min-height:35px;
          overflow: hidden;
          line-height: 20px;
          /*margin: 0 10px;*/
          // font-size: 1.2rem;
        }
        .date {
          display: block;
          height: 20px;
          line-height: 20px;
          color: #999;
          // margin-bottom: -40px;
        }
      }
    }
    .opacity {
        -webkit-animation: opacity 0.3s linear;
        animation: opacity 0.3s linear;
    }
    @-webkit-keyframes opacity {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
    @keyframes opacity {
        0% {
            opacity:0;
        }
        100% {
            opacity:1;
        }
    }
