// reset.css
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/

body, input, select, textarea {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}

/*h1, h2, h3, h4, h5, h6 { font-size: 100%; }*/

address, cite, dfn, em, var {
  font-style: normal;
}

/* 将斜体扶正 */

code, kbd, pre, samp {
  font-family: courier new, courier, monospace;
}

/* 统一等宽字体 */

small {
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #333;
  &:hover {
    text-decoration: none;
  }
}
legend {
  color: #000;
}

/* for ie6 */

fieldset, img {
  border: 0;
}

/* img 搭车：让链接里的 img 无边框 */

button, input, select, textarea {
  font-size: 100%;
}

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 清除浮动 */

.ks-clear:after, .clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}

.ks-clear, .clear {
  *zoom: 1;
}






