* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.42857143;
  color: #333; }

a {
  text-decoration: none; }

.btn-default{
font-size: 50%;
}

.header {
    position: fixed;
    z-index: 1060;
    top: 0;
    right: 0;
    left: 0;
    height: 45px;
    border-bottom: 1px solid #43A382;
    background-color: #45A673;
    -webkit-box-shadow: 0 1px 1px rgba(98,98,98,0.3);
    box-shadow: 0 1px 1px rgba(98,98,98,0.3);
    h1{
        color: #fff;
        font-size: 18px;
        line-height: 44px;
        position: absolute;
        left: 50%;
        transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
        text-align: center;
        font-family:"YouYuan";
    }
    .navbar-left{
        float:left;
        color:#FFF;
        .back{
            color:#FFF;
            font-size: 2.5em;
        }
    }
    .navbar-left>*, .header .navbar-right>* {
        display: table-cell;
        height: 45px;
        padding-right: 10px;
        padding-left: 10px;
        vertical-align: middle;
    }
}

.funct{
      padding-top: 45px;
}



.pd-img{
    margin-bottom:5px;
    margin-top:5px;
    width:90px;
    height:90px;
}
.col-md-6 {
	height:170px;
	font-size: 40px;
	margin-top:15px;
    width:45%;
}
.div1,.div3,.div5{
    margin-left:4%;
    margin-right:2%;
}
