body,html{width: 100%;height: 100%;padding:0;margin: 0;background-color: #ddd;}
.fl{float:left;}
.fr{float:right;}
@mixin wid_hei($width:100%,$height:50px,$bg_color:#fff){
	width:$width;
	height:$height;
	text-align:center;
	line-height:$height;
	background-color:$bg-color;
}
header{
	height:50px;
	text-align:center;
	line-height:50px;
	color:#fff;
}
header .navbar{
	@include wid_hei(100%,50px,#45A673);
	font-size:18px;
}
header nav a {
	position:absolute;
	display:inline-block;
	@include wid_hei(50px,50px,#45A673);
	color:#fff;
	font-size:1.5em;
	left:-10px;	
}
header nav h1{
	display:inline-block;
	margin-top:5px;
	font-size:20px;
	font-weight:bold;
}
.content{
	position:relative;
	top:-50px;
	min-height:100%;
	width:100%;
	font-size:14px;
	background-color:#fff;
}
.content .content_box{
	width:100%;
	padding-top:100px;
	height:500px;
}
@-moz-keyframes dothabottomcheck {
  0% {
    height: 0;
  }

  100% {
    height: 50px;
  }
}
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }

  100% {
    height: 50px;
  }
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }

  100% {
    height: 50px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: 120px;
  }
}
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: 120px;
  }
}
@-moz-keyframes dothatopcheck {
  0% {
    height: 0;
  }

  50% {
    height: 0;
  }

  100% {
    height: 120px;
  }
}
@mixin round(){
	border-radius:100px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
}
.content_box{
	.check-box{
		@include wid_hei(200px,200px);
	}
	div:nth-of-type(2){
		@include wid_hei(100%,50px);
		font-size: 18px;
	}
	div:nth-of-type(3){
		@include wid_hei(100%,50px);
		font-size: 12px;
	}
	.check-box {
		@include round();
		border:3px solid #34b93d;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:20px;
		position:relative;
	}
	.cont_ok::before, .cont_ok::after {
	  position: absolute;
	  height: 0;
	  width: 20px;
	  background-color: #34b93d;
	  -moz-transform-origin: left top;
	  -ms-transform-origin: left top;
	  -o-transform-origin: left top;
	  -webkit-transform-origin: left top;
	  transform-origin: left top;
	  border-radius: 5px;
	  content: ' ';
	}
	.cont_ok::before {
	  top: 150px;
	  left: 42%;
	  -moz-transform: rotate(-135deg);
	  -ms-transform: rotate(-135deg);
	  -o-transform: rotate(-135deg);
	  -webkit-transform: rotate(-135deg);
	  transform: rotate(-135deg);
	  height: 120px;
	  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
	  -o-animation: dothatopcheck 0.4s ease 0s forwards;
	  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
	  animation: dothatopcheck 0.4s ease 0s forwards;	 
	}
	.cont_ok::after {
	  top: 105px;
	  left: 19%;  
	  -moz-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	  height: 50px;
	  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
	  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
	  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
	  animation: dothabottomcheck 0.2s ease 0s forwards;	   
	}
}
footer{
	@include wid_hei(100%,50px,#ccc);
	font-size:16px;
	position:fixed;
	left:0;
	bottom:0;
}
footer .ft_lf{
	@include wid_hei(50%,50px,#ddd);
}
footer .ft_rg{
	@include wid_hei(50%,50px,#fdd835);
}