<!DOCTYPE html>
<html>
<head>
    <title>退宿申请</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1, maximum-scale=1, user-scalable=no" />
</head>
<style type="text/css">
	body {    background: url(../../static/images/404.jpg)  50%  50% / cover no-repeat fixed; }
	
	h2{
		font-family: "YouYuan";
		text-align: center;
		color:#333;
		position:fixed;
		top:35%;
		left:10px;
	}
	.back{
		position:fixed;
		top:50%;
		left:70%;
	}
	 a {
        /*text-decoration: none;*/
        color: #333;
        font-family: "YouYuan";
        font-size: 20px;
    }
</style>
<body>
	<h2>请在教务系统退宿好吗，好的。</h2>
	<div class="back"><a href="../../index.html">返回首页</a></div>
</body>
</html>